@font-face {
    font-family: FonteVista;
    src: url(font/OTF/Emberly-Regular.otf) format("opentype"),
        url(font/OTF/Emberly-Light.otf) format("opentype");
}

body {
    font-family: FonteVista, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    height: fit-content;
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #0544ac;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid gray;
    padding: 10px 0px 10px 0px;
    font-weight: 100;
}

.logo {
    background-image: url("images/vista.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 100%;
}

.logo img {
    width: fit-content;
}

.footer-col .links {
    display: flex;
    flex-direction: column;
    font-size: 19px;
}

.footer-col .links a {
    margin-bottom: 10px;
}

.link-header {
    font-size: 26px;
    color: white;
    position: relative;
    text-decoration: none;
    margin-left: 30px;
}

.link-header:hover {
    text-decoration: line-through;
}

footer {
    background-color: #0544ac;
    height: 200px;
    border-top: 2px solid gray;
    padding: 10px 0px 10px 0px;
    font-weight: 100;
    color: white;
}

footer h3 {
    font-size: 22px;
}

.footer-img {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-row img {
    width: 300px;
    height: auto;
    padding: 10px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    margin-right: 140px;
}

.footer-col a {
    text-decoration: none;
    color: white;
}

.footer-col a:hover {
    text-decoration: line-through;
}

.footer-col .redes {
    margin-top: 20px;
}

.facebook {
    cursor: pointer;
    background-color: #0544ac;
    border: none;
    height: 50px;
    width: 50px;
    background-image: url(images/facebook.png);
    background-size: cover;
}

.instagram {
    cursor: pointer;
    background-color: #0544ac;
    border: none;
    height: 50px;
    width: 50px;
    background-image: url(images/instagram.png);
    background-size: cover;
    margin-left: 10px;
}

.twitter {
    cursor: pointer;
    background-color: #0544ac;
    border: none;
    height: 50px;
    width: 50px;
    background-image: url(images/twitter.png);
    background-size: cover;
    margin-left: 10px;
}

.modelo img {
    height: auto;
    width: 80%;
    display: block;
    margin: 0;
    padding: 0;
}

.colecao {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    margin-top: 5%;
    background-image: url(images/circulo.png);
    background-size: 38%;
    background-position: center;
    background-repeat: no-repeat;
}

.modelo {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}

.nova-colecao {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.nova-colecao h1 {
    font-size: 70px;
    width: 300px;
    margin: 0;
}

.nova-colecao p {
    font-size: 28px;
}

.nova-colecao button {
    background-color: #0544ac;
    color: white;
    padding: 12px 42px 12px 42px;
}
